// Surface Colors
$color-surface-x-high: #ffffff;
$color-surface-x-low: #f5f5f7;
$color-surface-brand: #0050ff;
$color-surface-danger: #dc2828;
$color-surface-danger-variant: #ffdcdc;
$color-surface-warning-variant: #faf1b6;

// Content Colors
$color-content-on-neutral-xx-high: #2c2c31;
$color-content-on-neutral-medium: #8c8c9a;
$color-content-on-neutral-low: #c9c9ce;
$color-content-on-neutral-danger: #dc2828;
$color-content-on-neutral-warning: #a56315;

// State Colors
$color-state-default-hover: #1a1a1a0f;
$color-state-default-focus: #1a1a1acc;

// Radius
$dimension-radius-input: 12px;

// Spacing
$dimension-xs: 8px;
$dimension-s: 12px;
$dimension-m: 16px;
$dimension-l: 20px;
$dimension-xl: 24px;
$dimension-5xl: 48px;

// Typography
$font-label-m-family: "On Air Var";
$font-label-m-size: 16px;
$font-label-m-weight: 500;
$font-label-m-line-height: 22px;
$font-label-m-letter-spc: 0.16px;

$font-label-s-family: "On Air Var";
$font-label-s-size: 14px;
$font-label-s-weight: 550;
$font-label-s-line-height: 17px;
$font-label-s-letter-spc: 0.16px;

$font-body-m-family: "On Air Var";
$font-body-m-size: 16px;
$font-body-m-weight: 400;
$font-body-m-line-height: 22px;
$font-body-m-letter-spc: 0.01px;

$font-family-default: "Open Sans", sans-serif;
$font-size-label-m: 14px;
$font-size-body-m: 16px;
$line-height-body-m: 24px;
